@page "/admin/users"

@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))
@inject IClientUserService UserService

<PageTitle>All Users</PageTitle>
<title>All Users</title>

<PageLayout>
    <AuthorizeView Roles="SUPERUSER, ADMIN">
        <Authorized>
            <MudText Typo="Typo.h6" Class="py-2 px-md-5">All Users</MudText>
            <MudTable Items="users" 
                  Hover="true"
                  Striped="true"
                  Class="mb-3"
                  Loading="@isLoading"
                  Breakpoint="Breakpoint.Sm"
                  Elevation="0" >
                <HeaderContent>
                    <MudTh> User No </MudTh>
                    <MudTh> Name </MudTh>
                    <MudTh> Email </MudTh>
                    <MudTh> Username </MudTh>
                    <MudTh> Role </MudTh>
                </HeaderContent>
                 <RowTemplate Context="User">
                    <MudTd DataLabel="User No">@User.Id</MudTd>
                    <MudTd DataLabel="Name">@User.Name</MudTd>
                    <MudTd DataLabel="Email">@User.Email</MudTd>
                    <MudTd DataLabel="Name">@User.UserName</MudTd>
                    <MudTd DataLabel="Name">@User.Role</MudTd>
            </RowTemplate>
            </MudTable>
        </Authorized>
        <NotAuthorized>
            <Forbidden />
        </NotAuthorized>
    </AuthorizeView>

</PageLayout>

@code {
    private List<UserDetailsDTO> users = new List<UserDetailsDTO>();
    bool isLoading = false;

    protected override async Task OnInitializedAsync()
    {
        var response = await UserService.GetAllUsers();
        if(response != null)
            users = response;
    }


}
