@page "/chats"
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IClientChatMessageService ChatMessageService
@inject ISnackbar Snackbar

<PageTitle>Chats</PageTitle>
<title>Chats</title>

<PageLayout>


    @if (hubConnection != null && IsConnected)
    {
        <MudText Typo="Typo.h6" Class="py-2 px-md-5">Chats</MudText>
        <MudContainer Class="position-relative">
            <div class="d-flex flex-column px-4" style="min-height: 70vh; padding-bottom: 50px" id="chatContainer">
                @foreach (var message in messages)
                {
                    <div class="d-flex flex-row my-4 @((message?.User?.Id == UserId) ? "justify-content-end" : "")">
                        @if (message?.User?.Id != UserId)
                        {
                            <div class="mr-4">
                                <MudAvatar Color="Color.Secondary" Style="height:50px; width:50px;">
                                    <MudImage Src="@message?.User?.AvatarURL"></MudImage>
                                </MudAvatar>
                            </div>
                        }
                        <div class="@((message?.User?.Id == UserId) ? "text-end ml-4" : "")">
                            <MudText Typo="Typo.body1" class="@((message?.User?.Id == UserId) ? "text-right" : "")">@message?.User?.UserName</MudText>
                            <MudText Typo="Typo.body2" Style="padding: 15px;background-color: var(--mud-palette-background-grey);border-radius: 5px;margin-top:5px;">
                                @message?.Content
                            </MudText>
                            <MudText Typo="Typo.caption" Style="font-size: xx-small!important;">@message?.TimeStamp</MudText>
                        </div>
                        @if (message?.User?.Id == UserId)
                        {
                            <div class="ml-4">
                                <MudAvatar Color="Color.Secondary" Style="height:50px; width:50px;">
                                    <MudImage Src="@message?.User?.AvatarURL"></MudImage>
                                </MudAvatar>
                            </div>
                        }
                    </div>
                }


            </div>
            <MudPaper Elevation="25" Class="d-flex flex-row px-2 mx-4" Style="position: fixed; bottom: 20px; width: 75%">
                <MudTextField T="string"
                              Placeholder="Enter your message..."
                              DisableUnderLine="true"
                              Class="mt-n2 mx-4 py-2"
                              @bind-Value="messageInput"
                              For="@(()=> messageInput)"
                              AutoFocus />

                <MudButton OnClick="Send"
                           StartIcon="@Icons.Material.Outlined.Send"
                           Color="Color.Secondary"
                           ButtonType="ButtonType.Button"
                           >
                    Send
                </MudButton>
            </MudPaper>

        </MudContainer>

    }
    else
    {
        <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="m-0" />
    }
</PageLayout>

@code {
    private HubConnection hubConnection;

    int UserId;
    private string messageInput = string.Empty;
    public List<ChatMessageDTO> messages = new List<ChatMessageDTO>();

    protected override async Task OnInitializedAsync()
    {
        AuthenticationState state = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        UserId = int.Parse(state.User.Claims.First(c => c.Type == ClaimTypes.NameIdentifier).Value!);

        var chatMessages = await ChatMessageService.GetAllMessages();
        if (chatMessages != null)
            messages = chatMessages;

        hubConnection = new HubConnectionBuilder()
        .WithUrl(NavigationManager.ToAbsoluteUri("/chathub"))
        .Build();

        hubConnection.On<ChatMessageDTO>("ReceiveMessage", message =>
        {
            messages.Add(message);
            if (message.User.Id != UserId)
            {
                Snackbar.Add("New Message", Severity.Info);
            }
            StateHasChanged();
        });

        await hubConnection.StartAsync();
    }
    void Send()
    {
        if (!string.IsNullOrEmpty(messageInput))
        {
            hubConnection.SendAsync("SendMessage", UserId, messageInput);
            messageInput = "";
        }
    }

    public bool IsConnected => hubConnection.State == HubConnectionState.Connected;
}